
.endcontent {
			background-color:black; 
			color:white;
			bottom:100%; 
			width:100%; 
			height:50px;
			padding-top: 1px;

	}
li{
			float:right;
			color:white;
			list-style-type:none;
			list-style-position: inherit; 
			overflow:hidden;
			margin:0;
			margin-top:30px;
			margin-left: 50px;
}
.footli{
			text-align: center;
			float:left;
			color:white;
			list-style-type:none;
			list-style-position: inherit; 
			overflow:hidden;
			margin:0;
			margin-top:20px;
			margin-left: 50px;
}


#nav{
	height:100px;
	width:100%;
	margin:0;
	text-align:centre;
	text-decoration: none;
	font-size: 15px;
	font-family:Wide Latin; 
	}
#linav{
	text-align: center;
}
a{
	text-decoration: none;
	color:Black; 
}
a:hover{
	text-decoration: underline;
	font-size: 16px;
	color: blueviolet;
	transition: all 0.3s ease;
}
a:visited {
	text-decoration: none;
}



 h1{
	text-decoration-line: underline;

 }
 #address{
 	float:left;
 	margin-right: 40px;
 	width: 40%;
 }
 iframe{
 	border-radius:10px;
 	width: 100%;
 	height: 400px;
 }
 #logo{
 	
 }

 /*responsive*/
@media only screen and (max-width: 1200px){
	#nav{
		font-size: 15px;
	}
	a:hover{
		font-size: 16px;
	}
	li{
		margin-left: 30px;
	}
	.footli{
		margin-left: 30px;
	}
	#create{
		width:46%;
		float:left;
		margin-left:30px;
	}
	#check{
		width:46%;
		float:right;
		margin-right:30px;
	}
	#market{
		width:40%;
		float:left;
		margin-left:0px;
			
	}
	#economy{
		width:40%;
		float:right;
		margin-right:0px;
	}
	
}
@media only screen and (max-width: 900px){
	#market{
		width:45%;
		float:left;
		margin-left:0px;
			
	}
	#economy{
		width:45%;
		float:right;
		margin-right:0px;
	}
	#create{
		width:45%;
		float:left;
		margin-left:20px;
	}
	#check{
		width:45%;
		float:right;
		margin-right:20px;
	}
	
	#maincontent{
		font-size: 15px;
	}
	#nav{
		font-size: 10px;
	}
	a:hover{
		font-size: 11px;
	}
	li{
		margin-left: 25px;
	}
	#display{
		float: left;
	}
	#bottomnav{
			display: none;
	}
	

}
@media only screen and (max-width: 800px){
	#bottomnav{
			display: none;
	}
	#maincontent{
		font-size: 13px;
	}
	
	#nav{
		font-size: 9px;
	}
	a:hover{
		font-size: 10px;
	}
	li{
		margin-left: 15px;
	}
}
